@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  font-family: Arial;
  font-size: 16px;
  background: #5e42a6;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #312450;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;

  li {
    position: relative;
    margin: 3.2em 0;

    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(#fff, 0.35);
      display: block;
      transition: all ease-out 300ms;

      &.active {
        color: white;
      }
    }

    &:not(.active)::after {
      opacity: 0.5;
    }

    &:not(.active):hover a {
      color: rgba(#fff, 0.75);
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #5e42a6, #b74e91);
    }
  }
}

section {
  margin-left: 25%;
}
app-header {
  left: 0;
  position: fixed;
  top: 0;
  background: #312450;
  right: 0;
  z-index: 1;
}

app-footer {
  
  bottom: 0;
  background: whitesmoke;
  right: 0;
  position: relative; 
  font-size: small;
}


.main-content {
  padding-top: 10%;
  // height: 60%;
}